@font-face {
    font-family: Canela;
    src: url(../font/Canela/Canela-Light.otf);
    font-weight: 250;
}
@font-face {
    font-family: Canela;
    src: url(../font/Canela/Canela-Regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: Canela;
    src: url(../font/Canela/Canela-Bold.otf);
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}